<!DOCTYPE html>
<style>
a.disabled {
  pointer-events: none;
  cursor: default;
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
</style>
<html>
{{template "head"}}
<body>
{{template "nav"}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Matches</h1>
        <div class="row center">
            <a href="matches" id="action-button" class="disabled btn-large waves-effect waves-light orange">Matches</a>
                        <a href="tasks" id="action-button" class="btn-large waves-effect waves-light orange" >Tasks</a>
                        <a href="yourtasks" id="action-button" class="btn-large waves-effect waves-light orange" >YourTasks</a>
                        <a href="maketask" id="action-button" class="btn-large waves-effect waves-light orange">MakeTask</a>
                        <a href="completematches" id="action-button" class="btn-large waves-effect waves-light orange">CompleteMatches</a>
        </div>
        <br><br>

    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            {{range .}}
                <div class="card-wrapper col s12 l5" >
                    <div class="card horizontal sticky-action" style="height: 300px">
                        <div class="card-stacked">
                            <div class="card-content">
                            <form action="http://localhost:8080/matches" method="post">
                                <button type="submit" name="id" value="{{.ID}}" class="btn-link">Done</button>
                            </form>
                            <form action="http://localhost:8080/uploadfile" enctype="multipart/form-data" method="post">
                                <input type = "hidden" name = "uploadId" value = "{{.ID}}" />
                                 <input type="file" id="file" name="myFile" accept=".rar"/>
                                 <button type="submit" class="btn-link" style="background-color:blue;">Save</button>
                            </form>
                                <p>Language-{{.Language}}</p>
                                <p>Username-{{.Username}} </p>
                                <p>Email-{{.Email}}</p>
                                <p>Date-{{.Time}}</p>
                                <textarea style="height: 5rem;" readonly>{{.Description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
        <br>
        <br>
        <br>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="static/js/materialize.min.js">

</script>
</body>
</html>
