<!DOCTYPE html>
<style>
a.disabled {
  pointer-events: none;
  cursor: default;
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
</style>
<html>
{{template "head"}}
<body>
{{template "nav"}}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Tasks</h1>
        <div class="row center">
            <a href="matches" id="action-button" class="btn-large waves-effect waves-light orange">Matches</a>
                        <a href="tasks" id="action-button" class="disabled btn-large waves-effect waves-light orange" >Tasks</a>
                        <a href="yourtasks" id="action-button" class="btn-large waves-effect waves-light orange" >YourTasks</a>
                        <a href="maketask" id="action-button" class="btn-large waves-effect waves-light orange">MakeTask</a>
                        <a href="completematches" id="action-button" class="btn-large waves-effect waves-light orange">CompleteMatches</a>
        </div>
        <br><br>
        <form action="http://localhost:8080/tasks"  method="POST">
          <div class="container">
            <label for="language"><b>Enter Language</b></label>
            <input type="text" placeholder="Language" name="language">
            <button type="submit">Search</button>
          </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            {{range .}}
                <div class="card-wrapper col s12 l6">
                    <div class="card horizontal sticky-action" style="height: 300px">
                        <div class="card-stacked">
                            <div class="card-content">
                            {{if .IsLiked}}
                                <form action="http://localhost:8080/tasks" method="post">
                                    <button type="submit" name="dislikeid" value="{{.ID}}" class="btn-link" style="background-color:red";>Dislike</button>
                                </form>
                            {{else}}
                                <form action="http://localhost:8080/tasks" method="post">
                                     <button type="submit" name="id" value="{{.ID}}" class="btn-link">Like</button>
                                </form>
                            {{end}}
                                <p>Language-{{.Language}}</p>
                                                                <p>Username-{{.Username}} </p>
                                                                <p>Email-{{.Email}}</p>
                                                                <p>Date-{{.Time}}</p>
                                                                <textarea style="height: 5rem;" readonly>{{.Description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
        <br>
        <br>
        <br>
    </div>
</div>
<script type="text/javascript" src="static/js/materialize.min.js"></script>
</body>
</html>